body{
    margin: 0;
    padding:0; 
}
/*Nav*/
.navy ul{
    background-color: white;
}

.navy li{
    display: inline-block;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: sans-serif;
    text-align: center;
    font-size: xx-large;
}
.navy li a{
    color: black;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    float: right;
}
.navy li :hover {
    color: white;
    background-color: red;
}
/* End of Nav */
header{
    background: url(./images/hair\ slalon.jpg);
    height: 500px;
    background-size: cover;
    color: #fff;
    line-height: 500px;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    text-shadow: 2px 2px black;
}    
h1{
    margin-top: 0;
}
.clearfloat{
    clear: both;
}
.main{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-bottom: 5px;
}
/* Text Editing and Images */
.logo img{
    height: 100px;
}
#location1{
    width: 598px;
}
#slide{
    width: 600px;
    height: 600px;
}
h2{
    font-size: 55px;
    color: red;
    text-align: center;
}
#porch{
    margin-top: 0;
}
#nails{
    margin-top: 0;
    margin: 0px 0px 20px;
}
#first-p{
    font-size: x-large;
}
#hair3{
    float:right;
    width: 250px;
    height: 250px;
    padding-left: 10px;

}
#hair2{
    float: left;
    width: 290px;
    height: 250px;
    padding-right: 10px;
    padding-bottom: 10px;
}
#menu{
    width: 585px;
    padding: 10px 10px 5px;
}
/* Footer */
.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
}    
.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
}
.footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
}
.footer .row a:hover{
    color:#fff;
}   
.footer .row ul{
    width:100%;    
}    
.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
} 
.footer .row a i{
    font-size:2em;
    margin:0% 1%; 
}
    
@media (max-width:720px){
.footer{
    text-align:left;
    padding:5%;
}
.footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
}
.footer .row a i{
    margin:0% 3%;
}
.thumbnail-container img{
    width: 100%;
}
.thumbnail-container p{
    visibility: hidden;
}
.thumbnail-container:hover p{
    visibility: visible;
}
.thumbnail-container{
    width: 140px;
    margin: 5px;
    background-color: orange;
    opacity: 0.8;
    float: left;
}
#confirmation-words{
    font-size: 40px;
    color: blue;
}
#confirmation-h2{
    color:tomato;
}
#course-section{
    color: teal;
}

th{
    border: 1px solid #000;
    padding: 10px 0px;
    width: 150px;
}
td{
    border: 1px solid #000;
    padding: 10px 0px;
    width: 150px;
}
table{
    border-collapse: collapse;
    text-align: center;
}